/.web-server-pid
/config/parameters.yml
/build/
/phpunit.xml
.phpunit.result.cache

bin/
!bin/console

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/vendor/
/web/bundles/

code-coverage

# tools
/tools/**
!/tools/*/composer.*
bin/pre-build-console

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

config/*.local.*

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
