parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludes_analyse:
        - src/Kernel.php

    ignoreErrors:
        - '#Cannot cast array<string>\|string\|null to string.#'
